<h1>My Bookings</h1>

<h2>Confirmed Bookings</h2>

<ul>
  <% @confirmed_bookings.each do |booking| %>
    <%= booking.friend.name %>
    <%= booking.friend.rating %>
  <% end %>
</ul>

<h2>Pending Bookings</h2>

<ul>
  <% @pending_bookings.each do |booking| %>
    <%= booking.friend.name %>
    <%= booking.friend.rating %>
    <%= link_to 'Cancel your meeting', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  <% end %>
</ul>


    <%# <%= if @user.role = customer %>
      <%# <%= buttons.display: none %>
    <%# <%= elsif @user.role = friend %>
      <%# <%= buttons %>
    <%# <% end %>
