<h1>My Bookings</h1>

<div class="box">
  <h2>Confirmed Bookings</h2>
  <ul>
    <% @confirmed_bookings.each do |booking| %>
      <div>
        <%= booking.friend.name %>
        <%= "| Rating : #{booking.friend.rating} |"%>
        <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
      </div>
    <% end %>
  </ul>
</div>

<div class="box">
<h2>Pending Bookings</h2>

<ul>
    <% @pending_bookings.each do |booking| %>
      <div class="list">
        <%= booking.friend.name %>
        <%= "| Rating : #{booking.friend.rating} |" %>
        <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
      </div>
    <% end %>
  </ul>
</div>

    <%# <%= if @user.role = customer %>
      <%# <%= buttons.display: none %>
    <%# <%= elsif @user.role = friend %>
      <%# <%= buttons %>
    <%# <% end %>
