<h1>My Bookings</h1>

<h2>Confirmed Bookings</h2>

<ul>
  <% @confirmed_bookings.each do |booking| %>
    <%= link_to booking.friend.name, user_path(booking.friend) %>
    <br><%= booking.friend.rating %>
  <% end %>
</ul>

<h2>Pending Bookings</h2>

<ul>
  <% @pending_bookings.each do |booking| %>
    <%= link_to booking.friend.name, user_path(booking.friend) %>
    <br><%= booking.friend.rating %>
  <% end %>
</ul>


    <%# <%= if @user.role = customer %>
      <%# <%= buttons.display: none %>
    <%# <%= elsif @user.role = friend %>
      <%# <%= buttons %>
    <%# <% end %>
