<div class="container-min-height">
<%# <h1 class="d-flex justify-content-center py-3">My Bookings</h1> %>
  <h1>My Bookings</h1>
  <div class="row">

    <% if current_user.role == 'Costumer' %>

      <% if @confirmed_bookings.empty? && @pending_bookings.empty? %>
        <h3 class="text-center py-3"><%= "No bookings for now..." %></h3>

      <% elsif %>
          <div class="booking-box">
            <h2 class="confirm">Confirmed Bookings</h2>

            <ul class="pl-90">
              <% @confirmed_bookings.each do |booking| %>
                <div class="card-bookings">
                  <%= image_tag cl_image_path booking.friend.photo.key %>
                  <div class="card-bookings-info">
                    <%= link_to booking.friend.name, user_booking_path(booking.friend, booking)%>
                    <%= "| Rating: #{booking.friend.rating} | " %>
                    <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>

          <div class="booking-box">
            <h2>Pending Bookings</h2>

            <ul>
              <% @pending_bookings.each do |booking| %>
                <div class="card-bookings">
                  <%= image_tag cl_image_path booking.friend.photo.key %>
                  <div class="card-bookings-info">
                    <%= link_to booking.friend.name, user_booking_path(booking.friend, booking)%>
                    <%= "| Rating: #{booking.friend.rating} | " %>
                    <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>
      <% end %>

    <% elsif current_user.role == 'Friend' %>

      <% if @confirmed_bookings.empty? && @pending_bookings.empty? %>
        <h3 class="text-center py-3"><%= "No bookings for now..." %></h3>

      <% elsif %>
          <div class="booking-box">
            <h2 class="text-center py-3">Confirmed Bookings</h2>

            <ul>
              <% @confirmed_bookings.each do |booking| %>
                <div class="card-bookings">
                  <%= image_tag cl_image_path booking.costumer.photo.key %>
                  <div class="card-bookings-info">
                    <%= link_to booking.costumer.name, user_booking_path(booking.costumer, booking) %>
                    <%= "| Rating: #{booking.costumer.rating} | " %>
                    <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>


          <div class="booking-box">
            <h2 class="text-center py-3">Pending Bookings</h2>

            <ul>
              <% @pending_bookings.each do |booking| %>
                <div class="card-bookings">
                  <%= image_tag cl_image_path booking.costumer.photo.key %>
                  <div class="card-bookings-info">
                    <%= link_to booking.costumer.name, user_booking_path(booking.costumer, booking) %>
                    <%= "| Rating: #{booking.costumer.rating} | " %>
                    <button type="button" class="btn btn-success text-decoration-none text-white"><%= link_to "Confirm", confirm_path(booking) %></button>
                    <button type="button" class="btn btn-danger text-decoration-none text-white"><%= link_to "Reject", reject_path(booking) %></button>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
