<h1>My Bookings</h1>

<h2>Confirmed Bookings</h2>

<%# <ul> %>
  <%# <%= @bookings.name.each do |booking| %>
    <%= @bookings.where(confirmed?: true) %>
  <%# <% end %>
<%# </ul> %>

<h2>Pending Bookings</h2>

<%# <ul> %>
  <%# <%= @bookings.name.each do |booking| %>
    <%= @bookings.where(confirmed?: false) %>
  <%# <% end %>
<%# </ul> %>


    <%# <%= if @user.role = customer %>
      <%# <%= buttons.display: none %>
    <%# <%= elsif @user.role = friend %>
      <%# <%= buttons %>
    <%# <% end %>
