<h1>My Bookings.</h1>

<% if current_user.role == 'Costumer' %>

  <% unless @confirmed_bookings.empty? && @pending_bookings.empty? %>

    <% unless @confirmed_bookings.empty? %>
      <div class="box">
        <h2>Confirmed Bookings</h2>

        <ul>
          <% @confirmed_bookings.each do |booking| %>
            <div>
              <%= link_to booking.friend.name, user_booking_path(booking.friend, booking)%>
              <%= "| Rating: #{booking.friend.rating} | " %>
              <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless @pending_bookings.empty? %>
      <div class="box">
        <h2>Pending Bookings</h2>

        <ul>
          <% @pending_bookings.each do |booking| %>
            <div class="list">
              <%= link_to booking.friend.name, user_booking_path(booking.friend, booking)%>
              <%= "| Rating: #{booking.friend.rating} | " %>
              <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<% elsif current_user.role == 'Friend' %>

  <% unless @confirmed_bookings.empty? && @pending_bookings.empty? %>

    <% unless @confirmed_bookings.empty? %>
      <div class="box">
        <h2>Confirmed Bookings</h2>

        <ul>
          <% @confirmed_bookings.each do |booking| %>
            <div>
            <%= link_to booking.costumer.name, user_booking_path(booking.costumer, booking) %>
              <%= "| Rating: #{booking.costumer.rating} | " %>
              <%= link_to 'Cancel', booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel?"}%>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless @pending_bookings.empty? %>
      <div class="box">
        <h2>Pending Bookings</h2>

        <ul>
          <% @pending_bookings.each do |booking| %>
            <div class="list">
              <%= link_to booking.costumer.name, user_booking_path(booking.costumer, booking) %>
              <%= "| Rating: #{booking.costumer.rating} | " %>
              <%= link_to "Confirm", confirm_path(booking) %>
              <%= link_to "Reject", reject_path(booking) %>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

<% end %>
