<% if current_user.role = 'Costumer' %>
  <h1><%= "Send #{user.name} a hang-out request!" %></h2>

  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <h3><%= "Rating: #{@user.rating}" %></h3>
    <h3><%= "About me: #{@user.bio}" %></h3>
    <%# <h3><%= "Rate: #{@user.rate}" %></h3> %>
  </div>

<% elsif current_user.role = 'Friend' %>
  <h1><%= "#{user.name} wants to be your friend!" %></h2>

  <div>
    <h2><%= "Name: #{@user.name}" %></h2>
    <h3><%= "Rating: #{@user.rating}" %></h3>
    <h3><%= "About me: #{@user.bio}" %></h3>
  </div>

<% end %>
