<h1 class="d-flex justify-content-center py-3">All Friends</h1>

<div class="container">
  <div class="row">
    <% @users.each do |user|  %>
      <div class="col-lg-4">
        <div class="card-pic">
          <%= link_to user_path(user), class: "text-decoration-none" do %>
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, width: 400, height: 250, crop: :fill %>
            <% else %>
              <img src="https://source.unsplash.com/random/400x250" alt="" class="">
            <% end %>
              <div class="card-product-infos bg-light rounded-bottom">
                <div>
                    <h3 class="card-name text-decoration-none" link-light> <%=user.name%> </h3>
                    <p class="card-description"><%=user.bio%></p>
                </div>
                    <p class="card-trip-pricing">£<%= user.rate %> </p>
                    <p class="card-location">📍<%= user.location %> </p>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
