<h2 class="d-flex px-4 py-3 ">Your chosen friend</h2>

<img src="https://source.unsplash.com/random/400x380" alt="" class="">

<div>
  <p><%= "Name: #{@user.name}" %></p>
  <p><%= "Rating: #{@user.rating}" %></p>
  <p><%= "About me: #{@user.bio}" %></p>
</div>

<h5>Simply choose a date to request a rendezvouz</h5>
<%= simple_form_for [@user, @booking] do |f| %>
  <%= f.input :date, label: "Choose a date that you'd like to meet", as: :date, html5: true %>
  <%= f.submit %>
<% end %>

<%= link_to "return to friends listings", users_path %>
